<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fix Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark px-4 py-3">
        <a class="navbar-brand text-white" href="#">IESCP</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="/influ_notify/{{n.id}}">Go Back</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="bg-danger p-4 rounded shadow-sm">
            <h2 class="text-white mb-4">Fix Post</h2>
            <form action="/fixpost/{{n.id}}/{{post.id}}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="media" class="form-label">File</label>
                    <input class="form-control" type="file" id="media" name="media" accept="image/*,video/*">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" id="description" name="description" value="{{post.description}}" class="form-control">
                </div>
                <button type="submit" class="btn btn-dark">Fix</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
